:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: white;
  color: black;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  margin: 0 auto;
  text-align: center;
}
* {
  margin: 0;
}

main {
  background-color: white;
}
header {
  display: flex;
  border-bottom: solid 0.5em black;
}
a {
  color: inherit;
  text-decoration: inherit;
  display: inherit;
  width: inherit;
  height: inherit;
}

.all_Articles {
  display: flex;
  flex-wrap: wrap;
  font-size: 0.7em;
  justify-content: center;
  .article {
    max-width: 25%;
    border: solid 0.5em black;
    margin: 0.5em;
    position: relative;
  }
  .article_author {
    margin-bottom: 3.1em;
  }
  .article_details {
    color: white;
    background-color: black;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
    width: 100%;

    .votes {
      margin-right: 0.45em;
    }
  }
}
img {
  height: 100%;
  width: 100%;
}

.comments {
  border-top: 0.5em black solid;
  .comment {
    margin-top: 0.25em;
    border-bottom: 0.5em black solid;
  }
}
